.bg-background-green{
    background-color: rgb(0, 150, 135);
}

.bg-background-gray{
    background-color: rgb(218, 219, 213)
}

/* .background-small{
    height: 200px;
    border: 1px solid magenta;
    background-color: rgb(0, 150, 135);

} */